@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: red;
}
body{
    background-image: url("./7ae45527-7845-4f1d-a054-b4c0f38b78f8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: Bungee Tint;
    
}
.main-div{
    display: flex;
    gap: 120px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.kamateli1{
    display: flex;
    flex-direction: column;
}
.kamateli2{
    display: flex;
    flex-direction: column;
}
.burtula{
    display: flex;
}
.idk{
     width: 70px;height: 70px;background-color: white;border-radius: 50%;
     margin: 10px;
}
button{
    padding: 10px 25px;
    background-color: #c30001;
    border: none;
    border-radius: 20px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s;
    display: flex;
    font-size: 1.5rem;
    justify-self: center;

}
button:hover{
    scale: 1.2;
    background-color: rgb(126, 4, 4);
}
.start{
    width: 100%;
    /* height: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.mini{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}