
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: rgb(10, 12, 27);
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent-div{
    background-color:rgb(28, 25, 56) ;
    display: flex;
    border-radius: 6px;
    
}

.text{
    padding: 60px;
    padding-right:80px;
    font-family: "Open Sans", serif;
}

.satauri{
    color: white;
}


.span{
    color:  hsl(277, 64%, 61%);
}



.shua{
    color: white;
    opacity: 50%;
}


.qvemota{
    display: flex;
    gap: 55px;
}