p{
    font-size: 50px;
}

.p{
    text-decoration: underline red;
    color: blue;
}

.p1{
    text-decoration: overline green;
    color: yellow;
}

.p2{
    text-decoration:  line-through orange;
    color: darkmagenta;
}