.goa{
    background-color: blueviolet;
    color: aqua;
    font-size: 30px;
}

#a{
    background-color: chartreuse;
    color: yellowgreen;
    font-size: 50px;
}

#b{
    background-color: black;
    color: darkmagenta;
    font-size: 34px;
}